body.spectool-web {
  padding-top: 125px;
}

.spectool-web #spectrum-viewer,
.spectool-web #frequency-axis {
  position: relative;
  width: 740px;
  margin-left: auto;
  margin-right: auto;
}

.spectool-web .alert {
  position: absolute;
  width: 664px;
  top: 60px;
  left: 50%;
  margin-left: -309px;
}

.spectool-web .navbar .source-label {
  margin-left: 61px;
}

.spectool-web #spectrum-viewer {
  height: 700px;
  overflow-y: auto;
}

.spectool-web #spectrum-viewer .background {
  position: relative;
  top: 0;
  left: 61px;
  width: 664px;
  height: 100%;
  background-color: #000044;
}

.spectool-web #spectrum-viewer.loading {
  background-position: center center;
  background-image: url(../img/ajax-loader.gif);
  background-repeat: no-repeat;
}

.spectool-web #spectrum-viewer canvas {
  position: absolute;
  top: 0;
  left: 61px;
}

.spectool-web #spectrum-viewer #time-axis {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  margin-bottom: 0;
  font-size: 90%;
  background-color: white;
}

.spectool-web #spectrum-viewer #time-axis li {
  border-top: 1px solid black;
  text-align: center;
  width: 100%;
}

.spectool-web #frequency-axis {
  padding-left: 61px;
}

.spectool-web #frequency-axis ul {
  margin-bottom: 0;
}

.spectool-web #frequency-axis ul li {
  float: left;
  -box-sizing: border-box;
  text-align: center;
}

.spectool-web #frequency-axis ul li:nth-child(2n) {
  width: 40px;
}
.spectool-web #frequency-axis ul li:nth-child(2n+1) {
  width: 39px;
}
.spectool-web #frequency-axis ul li:first-child {
  width: 75px;
}
.spectool-web #frequency-axis ul li:nth-child(15) {
  width: 75px;
}


.spectool-web #frequency-axis ul li a {
  text-decoration: none;
}

.spectool-web #frequency-axis ul li.on,
.spectool-web #frequency-axis ul li:hover {
  background: #ddd;
}

.spectool-web #frequency-axis ul li:first-child {
  text-align: left;
  padding-left: 6px;
}

.spectool-web #frequency-axis ul li.clear {
  width: 1px;
  clear: both;
  float: none;
}

.spectool-web #frequency-axis .btn {
  padding: 0;
  margin: 0;
}

.spectool-web #frequency-axis .btn:hover {
  color: black;
}

.spectool-web #frequency-axis input[type="radio"] {
  padding: 0;
  margin: 0;
  width: 100%;
}

.spectool-web #frequency-axis ul li em {
  font-weight: 700;
  font-size: 110%;
}

.spectool-web #frequency-axis ul li span {
  font-size: 80%;
}

.spectool-web #spectrum-viewer .highlight {
  position: absolute;
  top: 0;
  background: white;
  opacity: 0.25;
  z-index: 1;
}

