<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" lang="en" xml:lang="en"> 
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <meta name="title" content="" />
  <meta property="og:title" content="" />
  <meta property="og:url" content="" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="image_src" content="" />
  <meta property="og:image" content=""/>
  <link rel="image_src" content="" />
  <link rel="shortcut icon" href="favicon.ico">

  <link rel="stylesheet" href="css/reset.css" type="text/css" />
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="css/bootstrap-theme.css" type="text/css" />
  <link rel="stylesheet" href="css/main.css" type="text/css" />

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/underscore.js"></script>
  <script type="text/javascript" src="js/sprintf.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

  <title>Spectool Web Viewer</title>

</head>
<body class="spectool-web">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./">Spectool Web Viewer</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left navbar-breadcrumb" role="navigation">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <a class="navbar-brand" href="https://github.com/acg/spectool-web">Fork me on Github</a>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div><!--/.navbar -->

<div class="container">
  <div id="main">

    <div class="alert col-lg-12"></div>

    <form class="form-horizontal" role="form">

      <div class="form-group">
        <label for="source" class="control-label col-lg-3">Choose a data source:</label>
        <div class="col-lg-9">
          <select name="source" class="form-control" disabled="disabled">
            <option value="" disabled="disabled">Run 'make' to re-populate this.</option>
            %%LOGFILES_HTML%%
            <option value="ws://">Live view</option>
          </select>
        </div>
      </div>

    </form>

    <div id="spectrum-viewer">
    </div>

    <div id="frequency-axis">

      <ul class="btn-group" data-toggle="buttons">
        <li class="btn btn-primary"> <input type="radio" name="frequency"> <em>Ch</em>      <br/> <span>2.4 GHz</span>  </input> </li>
        <li class="btn btn-primary"> <input type="radio" name="frequency"> <em>1</em>       <br/> <span>2.412</span>  </input> </li>
        <li class="btn btn-primary"> <input type="radio" name="frequency"> <em>2</em>       <br/> <span>2.417</span>  </input> </li>
        <li class="btn btn-primary"> <input type="radio" name="frequency"> <em>3</em>       <br/> <span>2.422</span>  </input> </li>
        <li class="btn btn-primary"> <input type="radio" name="frequency"> <em>4</em>       <br/> <span>2.427</span>  </input> </li>
        <li class="btn btn-primary"> <input type="radio" name="frequency"> <em>5</em>       <br/> <span>2.432</span>  </input> </li>
        <li class="btn btn-primary"> <input type="radio" name="frequency"> <em>6</em>       <br/> <span>2.437</span>  </input> </li>
        <li class="btn btn-primary"> <input type="radio" name="frequency"> <em>7</em>       <br/> <span>2.442</span>  </input> </li>
        <li class="btn btn-primary"> <input type="radio" name="frequency"> <em>8</em>       <br/> <span>2.447</span>  </input> </li>
        <li class="btn btn-primary"> <input type="radio" name="frequency"> <em>9</em>       <br/> <span>2.452</span>  </input> </li>
        <li class="btn btn-primary"> <input type="radio" name="frequency"> <em>10</em>      <br/> <span>2.457</span>  </input> </li>
        <li class="btn btn-primary"> <input type="radio" name="frequency"> <em>11</em>      <br/> <span>2.462</span>  </input> </li>
        <li class="btn btn-primary"> <input type="radio" name="frequency"> <em>12</em>      <br/> <span>2.467</span>  </input> </li>
        <li class="btn btn-primary"> <input type="radio" name="frequency"> <em>13</em>      <br/> <span>2.472</span>  </input> </li>
        <li class="btn btn-primary"> <input type="radio" name="frequency"> <em>14</em>      <br/> <span>2.484</span>  </input> </li>
        <li class="clear"></li>
      </ul>

  </div> <!-- #main -->
</div>

</body>
</html>
